@page "/"
@using BlazorWasmTest.Client.Helpers;


<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

<div>
    <h3>Pelicula</h3>
    <p>Titulo: <b>@spiderMan.Name</b></p>
    <p>Lanzamiento: <b>@spiderMan.ReleaseDate.ToString("dd MMM yyyy")</b></p>
</div>

@*
    <div>
        <h3>Peliculas</h3>

            @foreach (var movie in ObtenerPeliculas())
            {
                <div>
                    <p>Titulo: <b>@movie.Name</b></p>
                    <p>Lanzamiento: <b>@movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
                </div>
            }

    </div>
*@
<div>
    <h3>Peliculas</h3>

    <ListadoPeliculas />
    

</div>


@code {

    string nombre = "Livingstone";

    public Movie spiderMan { get { return ObtenerPelicula(); } }

    

    

    private Movie ObtenerPelicula()
    {
        return new Movie() { Name = "Spider Man", ReleaseDate = new DateTime(2019, 07, 01) };
    }
}